@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default, dark --prefersdark;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: [#CAEB66];
  --color-secondary: teal;
}

/* স্লাইডারের উইডথ সেট করা */
.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* প্রতিটি কার্ডের সাইজ নির্দিষ্ট করা */
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px; /* এই উইডথটি প্রথম টাইপের লুক আনতে সাহায্য করবে */
  height: auto;
}

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}





body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

@layer components {
  .theme-transition {
    @apply transition-colors duration-300;
  }
}
